body{
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: row;
    border: 2px solid #a22222;
    padding: 20px;
    margin: 20px;
}
h1,h2 {
    font-size: 40px;
    color: chocolate;
}
